/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v6.1.2/css/all.css');

/* Banner */
@import url('components/banner.css');
@import url('components/button.css');
@import url('components/card.css');
@import url('components/footer.css');
/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}
a {
  text-decoration: none;
}

/* Custom design below! */
div {
  display: block;
}

h1 {
  font-size: 25px;
  color: antiquewhite;
}

/* .container {
  width: 900px;
  margin: auto;
} */

.container p {
  font-size: 15px;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

.moving-icon {
  width: 100px;
  height: 100px;
  font-size: 30px;
  position: relative;
  color: rgb(148, 56, 56);
  padding: 20px;
  animation-name: example;
  animation-duration: 4s;
}
@keyframes example {
  0%   {color:rgb(148, 56, 56); left:0px; top:0px;}
  25%  {color:rgb(213, 213, 60); left:900px; top:0px;}
  50%  {color:rgb(48, 202, 122); left:900px; top:500px;}
  75%  {color:rgb(213, 213, 60); left:0px; top:500px;}
  100% {color:rgb(148, 56, 56); left:0px; top:0px;}
}
/* media queries */

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
